<nav class="col-span-2 draftly-nav-bg">
    <div class="flex flex-col justify-between h-screen p-5">
        <a class="block py-3 font-extrabold" href="{{ url_for('main.index')}}">{{ app_name }}</a>
        <ul class="grow">
            <li class="pl-2 py-3 border-b-2 border-indigo-700 draftly-nav-link"><a href="{{ url_for('main.profile', username=current_user.username)}}">Dashboard</a></li>
            <li class="flex items-center pl-2 py-3 border-b-2 border-indigo-700 draftly-nav-link">
                <a class="mr-2" href="#">Posts</a>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
                </svg>
            </li>
            <li class="flex items-center pl-2 py-3 draftly-nav-link">
                <a class="mr-2" href="#">Settings</a>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
                </svg>
            </li>
        </ul>
        <p class="flex items-center pl-2 py-3 draftly-nav-link">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
              </svg>
            <a class="ml-1" href="{{ url_for('auth.logout')}}">Logout</a>
        </p>
    </div>
</nav>