{% extends "base.html" %}

{% block header %}
  {# LEAVE THIS BLANK #}
{% endblock %}

{% block body %}
<div class="grid grid-cols-12">
    <!--Navigation-->
    {% include "dashboard_nav.html" %}

    <!--Edit Post-->
    <div class="col-span-10 h-dvh overflow-y-scroll">
        <main>
            <div class="flex justify-between items-center p-5 border-b-2">
                <p class="text-xl font-bold draftly-text">Edit Post</p>
            </div>

            <div class="m-5">
                <form method="POST" enctype="multipart/form-data" novalidate>
                    {{ form.hidden_tag() }}
                    {{ form.title(class="w-full p-2 rounded ring-2 ring-gray-200", placeholder="Post Title") }}
                    <i class="block my-2 text-sm text-red-600">{{ form.title.errors[0] }}</i>
                    {{ form.body(id="tinymce_editor") }}
                    <i class="block my-2 text-sm text-red-600">{{ form.body.errors[0] }}</i>
                    {{ form.category.label(class="draftly-text-secondary") }}
                    <select class="border-2 p-1" name="category" id="category">
                        {% for category in form.category.choices %}
                            <option value="{{ category[0] }}" {% if category[0] == post.category_id %}selected{% endif %}>
                                {{ category[1] }}
                            </option>
                        {% endfor %}
                    </select>
                    <div>
                    {{ form.replace_image_picker }}
                        <p class="my-2 draftly-text-secondary">Featured Image:</p>
                        <div class="relative w-fit">
                            <p id="trigger-modal" class="draftly-replace-image-btn">Replace Image</p>
                            <img id="image-preview" class="w-40" src="{{ url_for('main.uploaded_image', filename=post.featured_image)}}">
                        </div>
                    </div>

                    <button class="block mt-3 px-5 py-2 rounded-md draftly-button" type="submit">Update</button>
                </form>

                <div id="modal" class="fixed left-0 top-0 w-full h-full z-[9999] bg-slate-300/75 hidden">
                    <div class="flex items-center h-full">
                        <div class="modal-content container mx-auto p-10 rounded-md bg-slate-100 shadow-md">
                            <div class="flex justify-between mb-5">
                                <p class="text-2xl text-slate-900">Add Image</p>
                                <button id="close-modal" class="px-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 fill-slate-900">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                                    </svg>
                                </button>
                            </div>
                            <div id="modal-gallery" class="grid grid-cols-5 h-96 gap-4 overflow-y-auto">
                                <!--Image Gallery Here-->
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>


            
        </main>
    </div>
</div>
    

    <div id="modal" class="fixed left-0 top-0 w-full h-full z-[9999] bg-slate-300/75 hidden">
        <div class="flex items-center h-full">
            <div class="modal-content container mx-auto p-10 rounded-md bg-slate-100 shadow-md">
                <div class="flex justify-between mb-5">
                    <p class="text-2xl text-slate-900">Add Image</p>
                    <button id="close-modal" class="px-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 fill-slate-900">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div id="modal-gallery" class="grid grid-cols-5 h-96 gap-4 overflow-y-auto">
                    <div id="image-container" class="h-40 flex items-center overflow-hidden border border-red-900">
    
                    </div>
                    <!--https://gratisography.com/wp-content/uploads/2024/01/gratisography-cyber-kitty-1170x780.jpg-->
                </div>
            </div>
        </div>
    </div>
    <p><img id="preview-image" src="" alt=""></p>
{% endblock %}


{% block footer %}
  {# LEAVE THIS BLANK #}
{% endblock %}