<footer class="py-10 text-slate-100 bg-slate-900">
    <div class="container mx-auto px-8">
        <div class="flex flex-col md:flex-row">
            <div class="mb-5 mr-14">
                <a href="{{ url_for('main.index') }}">
                    <h2 class="py-2 font-extrabold">{{ app_name }}</h2>
                </a>
                <p>&copy 2024</p>
            </div>
            <ul class="mb-5 mr-14">
                <li class="py-2 text-white hover:text-slate-400 transition-all"><a href="{{ url_for('main.index') }}">Home</a></li>
                <li class="py-2 text-white hover:text-slate-400 transition-all"><a href="#">About</a></li>
            </ul>
            <ul>
            {% for category in categories %}
                <li class="py-2 text-white hover:text-slate-400 transition-all">
                    <a href="{{ url_for('main.category_page', category_key=category.key) }}">{{category.name}}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</footer>