{% extends "base.html" %}

{% block body %}
<section class="{{ category_class }} h-64 mb-20 border-b-4 border-slate-900 bg-slate-200 overflow-hidden md:m-0 md:border-0">
    
</section>

<div class="container mx-auto mb-20 px-8 bg-white md:-mt-32 md:pt-10 md:border-t-4 md:border-slate-900">
    <div class="grid grid-cols-1 md:grid-cols-12 md:gap-10">
        <div class="col-span-8 mb-20">
            <article>
                {% if current_user.is_authenticated %}
                <a class="p-2 rounded-md draftly-button" href="{{ url_for('main.edit_post', post_id=post.id )}}">Edit Post</a>
                {% endif %}
                <a class="hover:text-slate-400" href="{{ url_for('main.category_page', category_key=post.c_posts.key)}}">
                    <p class="my-3 uppercase">{{ post.c_posts.name}}</p>
                </a>
                <h1 class="mb-3 text-5xl font-bold">{{ post.title }}</h1>
                <p class="mb-10"><i>By {{ post.u_posts.username }}</i></p>
                <section id="single-post-format">
                    {{ post.body | safe }}
                </section>
            </article>
        </div>   
        
        <!-----Sidebar----->
        <aside class="col-span-4 md:pl-10 md:border-l-2 md:border-slate-200">
            <div class="flex my-3">
                <a class="block mr-3" href="">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 50 50" class="size-10 fill-slate-800 hover:fill-slate-400 transition-all">
                        <path d="M25,3C12.85,3,3,12.85,3,25c0,11.03,8.125,20.137,18.712,21.728V30.831h-5.443v-5.783h5.443v-3.848 c0-6.371,3.104-9.168,8.399-9.168c2.536,0,3.877,0.188,4.512,0.274v5.048h-3.612c-2.248,0-3.033,2.131-3.033,4.533v3.161h6.588 l-0.894,5.783h-5.694v15.944C38.716,45.318,47,36.137,47,25C47,12.85,37.15,3,25,3z"></path>
                    </svg>
                </a>
                <a class="block mr-3" href="">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 50 50" class="size-10 fill-slate-800 hover:fill-slate-400 transition-all">
                        <path d="M 11 4 C 7.134 4 4 7.134 4 11 L 4 39 C 4 42.866 7.134 46 11 46 L 39 46 C 42.866 46 46 42.866 46 39 L 46 11 C 46 7.134 42.866 4 39 4 L 11 4 z M 13.085938 13 L 21.023438 13 L 26.660156 21.009766 L 33.5 13 L 36 13 L 27.789062 22.613281 L 37.914062 37 L 29.978516 37 L 23.4375 27.707031 L 15.5 37 L 13 37 L 22.308594 26.103516 L 13.085938 13 z M 16.914062 15 L 31.021484 35 L 34.085938 35 L 19.978516 15 L 16.914062 15 z"></path>
                    </svg>
                </a>
                <a class="block" href="">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 50 50" class="size-10 fill-slate-800 hover:fill-slate-400 transition-all">
                        <path d="M 16 3 C 8.83 3 3 8.83 3 16 L 3 34 C 3 41.17 8.83 47 16 47 L 34 47 C 41.17 47 47 41.17 47 34 L 47 16 C 47 8.83 41.17 3 34 3 L 16 3 z M 37 11 C 38.1 11 39 11.9 39 13 C 39 14.1 38.1 15 37 15 C 35.9 15 35 14.1 35 13 C 35 11.9 35.9 11 37 11 z M 25 14 C 31.07 14 36 18.93 36 25 C 36 31.07 31.07 36 25 36 C 18.93 36 14 31.07 14 25 C 14 18.93 18.93 14 25 14 z M 25 16 C 20.04 16 16 20.04 16 25 C 16 29.96 20.04 34 25 34 C 29.96 34 34 29.96 34 25 C 34 20.04 29.96 16 25 16 z"></path>
                    </svg>
                </a>
            </div>
        
            <div class="my-5 border-y-2 border-slate-200">
            {% for post in posts %}
                <a class="flex items-center my-5 group" href="{{ url_for('main.single_post', post_id=post.id) }}">
                    <img class="size-20 mr-5 object-cover" src="{{ url_for('main.uploaded_image', filename=post.featured_image) }}">
                    <div>
                        <p class="text-lg font-semibold group-hover:text-slate-400">{{ post.title }}</p>
                        <p class="text-sm italic">By {{ post.u_posts.username.capitalize() }}</p>
                    </div>
                </a>
            {% endfor %}
            </div>
            <a class="block mb-20 text-slate-900" href="{{ url_for('main.articles') }}">See all articles →</a>

        {% include "subscribe.html" %}
        </aside>
    </div>  
</div>


{% endblock %}